In [1]:
import numpy as np
import pandas as pd
 
animals = pd.read_csv('C:\\Users\\karen\\python-ironhack\\animals.csv')

In [2]:
# Convertimos el peso de libras a kg
animals['bodywtkg']=animals['bodywt'] * 0.453

In [3]:
animals.head()

   brainwt   bodywt      animal    bodywtkg
0    3.385   44.500  Arctic_fox   20.158500
1    0.480   15.499  Owl_monkey    7.021047
2    1.350    8.100      Beaver    3.669300
3  464.983  423.012         Cow  191.624436
4   36.328  119.498   Gray_wolf   54.132594

# Combinamos dos o más columnas

In [5]:
# Calculamos la relacion entre el tamaño del cerebro y el cuerpo
animals['wtratio']= animals['bodywt']/animals['brainwt']

In [7]:
animals.head()

   brainwt   bodywt      animal    bodywtkg    wtratio
0    3.385   44.500  Arctic_fox   20.158500  13.146233
1    0.480   15.499  Owl_monkey    7.021047  32.289583
2    1.350    8.100      Beaver    3.669300   6.000000
3  464.983  423.012         Cow  191.624436   0.909736
4   36.328  119.498   Gray_wolf   54.132594   3.289419

# Cálculos condicionales

In [8]:
# Vamos a introducir la condición de que si el peso del cerebro es cero, la relación será cero y si no, entonces calculará la proporción.

animals['wtraiozerocheck'] = np.where(animals['brainwt']!=0, animals['bodywt']/animals['brainwt'],0)

In [9]:
animals.head()

   brainwt   bodywt      animal    bodywtkg    wtratio  wtraiozerocheck
0    3.385   44.500  Arctic_fox   20.158500  13.146233        13.146233
1    0.480   15.499  Owl_monkey    7.021047  32.289583        32.289583
2    1.350    8.100      Beaver    3.669300   6.000000         6.000000
3  464.983  423.012         Cow  191.624436   0.909736         0.909736
4   36.328  119.498   Gray_wolf   54.132594   3.289419         3.289419

# Cálculos con funciones

In [13]:
# Las filas y columnas también se denominan ejes.
# El eje 0 (indices) es el eje de las filas y el eje 1 es el eje de las columnas

# sumamos las columnas numericas agrupando por columnas
animals['sum']=animals.sum(axis=1)
animals['sum']

0       94.335967
1       87.579214
2       25.119300
3     1081.438909
4      216.537431
         ...
57     407.673447
58      10.455578
59      32.258274
60      51.813423
61     101.267853
Name: sum, Length: 62, dtype: float64