# MAPPING
map()-----> Se utiliza para aplicar una función a cada elemento de una secuencia (lista, tupla)

In [20]:
#Creamos una lista
l = [10, 12, 34, 23]

In [1]:
#contruimos una función que divida a la mitad cualquier número que le demos

def half(x):
    return x / 2

In [18]:
#Ahora usando map(), aplicamos la función half a una lista de números

map(half, l)

In [4]:
#La función map() crea un objeto map que es un objeto iterable
#transformamos el objeto en una lista

list(map(half,l))

[5.0, 6.0, 17.0, 11.5]

# FILTERING
Al igual que map(), filter() toma función y una secuencia y regresa un objeto iterable.
La meta de esta función es pasarle una función a una secuencia para remover elementos de ella.

In [6]:
#Construimos una función lambda que nos va a regresar los elementos de la lista l tales que el residuo de su división entre 2 sea 1
filter(lambda x: x % 2 == 1, l)

In [7]:
#Transformamos el objeto que nos regresó la función filter a una lista
list(filter(lambda x: x % 2 == 1, l))

[23]

# REDUCING
Reduce() es una función que nos va a ayudar realizar una agregación en una secuencia de elementos.
Se debe importar de _functools_.
Comienza desde el principio de la secuencia y opera con dos elementos a la vez y devuelve uno.

In [15]:
from functools import reduce

In [16]:
#Creamos una función que tome dos elementos y los sume 
summation = lambda a, b: a + b

In [23]:
#Utilizando la función reduce
#Sumamos los elementos de 2 en dos: 10+12=22, 22+34=56, 56+23=79
from functools import reduce
l = [10, 12, 34, 23]
reduce(lambda a, b: a + b, l)

79

In [24]:
#Ahora vamos a encontrar el máximo de una lista comparando de dos en dos y va a regresar el más grande de los dos
10<12--> 12, 12<34--->34, 34>23---->34
reduce(lambda a, b: a if a > b else b, l)

34

# Programación Funcional  
Podemos usar la función apply() a un conjunto de datos. No hacemos una distinción a una función que se aplica en cada fila o columna y las funciones agregadas.

In [25]:
#Creamos un marco de datos
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randn(4, 3), columns=['a', 'b', 'c'])
df

          a         b         c
0  0.493023 -0.407154 -0.437485
1 -0.099146 -0.825113 -0.116924
2 -0.883609 -0.555572 -0.573533
3 -1.897981 -0.193064 -0.057629

In [26]:
#Podemos aplicar la función half() para dividir cada celda del marco de datos entre dos.
df.apply(half)

          a         b         c
0  0.246511 -0.203577 -0.218742
1 -0.049573 -0.412557 -0.058462
2 -0.441804 -0.277786 -0.286766
3 -0.948991 -0.096532 -0.028815

In [28]:
#Podemos definir una función agregada que devolverá el rango de una columna, es la diferencia entre el máximo y el mínimo
def range_func(x):
    return max(x) - min(x)

In [29]:
#APlicamos esta función a cada columna del Dataframe 
df.apply(range_func)

a    2.391004
b    0.632049
c    0.515904
dtype: float64