# 1. Use a list comprehension to create and print a list of consecutive integers starting with 1 and ending with 50

In [15]:
list=[]
for i in range(1,51):
    list.append(i)
list

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50]

2. Use a list comprehension to create and print a list of even numbers starting with 2 and ending with 200.

In [17]:
evenlist=[]
for i in range(1,101):
    i=i*2
    evenlist.append(i)
evenlist

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200]

3. Use a list comprehension to create and print a list containing all elements of the 10 x 4 Numpy array below.

In [69]:
a = np.array([[0.84062117, 0.48006452, 0.7876326 , 0.77109654],
       [0.44409793, 0.09014516, 0.81835917, 0.87645456],
       [0.7066597 , 0.09610873, 0.41247947, 0.57433389],
       [0.29960807, 0.42315023, 0.34452557, 0.4751035 ],
       [0.17003563, 0.46843998, 0.92796258, 0.69814654],
       [0.41290051, 0.19561071, 0.16284783, 0.97016248],
       [0.71725408, 0.87702738, 0.31244595, 0.76615487],
       [0.20754036, 0.57871812, 0.07214068, 0.40356048],
       [0.12149553, 0.53222417, 0.9976855 , 0.12536346],
       [0.80930099, 0.50962849, 0.94555126, 0.33364763]])

#Extraer todos los numeros del array
list1=[]
for i in range(len(a)): #Este ciclo itera en las filas
    for j in range(len(a[i])): # este ciclo itera sobre las columnas
        a[i][j]
        list1.append(a[i][j])
print(list1)

[0.84062117, 0.48006452, 0.7876326, 0.77109654, 0.44409793, 0.09014516, 0.81835917, 0.87645456, 0.7066597, 0.09610873, 0.41247947, 0.57433389, 0.29960807, 0.42315023, 0.34452557, 0.4751035, 0.17003563, 0.46843998, 0.92796258, 0.69814654, 0.41290051, 0.19561071, 0.16284783, 0.97016248, 0.71725408, 0.87702738, 0.31244595, 0.76615487, 0.20754036, 0.57871812, 0.07214068, 0.40356048, 0.12149553, 0.53222417, 0.9976855, 0.12536346, 0.80930099, 0.50962849, 0.94555126, 0.33364763]

4. Add a condition to the list comprehension above so that only values greater than or equal to 0.5 are printed

In [72]:
list1=[]
for i in range(len(a)): #Este ciclo itera en las filas
    for j in range(len(a[i])): # este ciclo itera sobre las columnas
        b=a[i][j]
        if b>=0.5:
            list1.append(b)
        
print(list1)

[0.84062117, 0.7876326, 0.77109654, 0.81835917, 0.87645456, 0.7066597, 0.57433389, 0.92796258, 0.69814654, 0.97016248, 0.71725408, 0.87702738, 0.76615487, 0.57871812, 0.53222417, 0.9976855, 0.80930099, 0.50962849, 0.94555126]

5. Use a list comprehension to create and print a list containing all elements of the 5 x 2 x 3 Numpy array below

In [4]:
b = np.array([[[0.55867166, 0.06210792, 0.08147297],
        [0.82579068, 0.91512478, 0.06833034]],

       [[0.05440634, 0.65857693, 0.30296619],
        [0.06769833, 0.96031863, 0.51293743]],

       [[0.09143215, 0.71893382, 0.45850679],
        [0.58256464, 0.59005654, 0.56266457]],

       [[0.71600294, 0.87392666, 0.11434044],
        [0.8694668 , 0.65669313, 0.10708681]],

       [[0.07529684, 0.46470767, 0.47984544],
        [0.65368638, 0.14901286, 0.23760688]]])

In [83]:
list2=[]
for i in range(len(b)):
    for j in range(len(b[i])):
        for k in range(len(b[i][j])):
            c=b[i][j][k]
            list2.append(c)
list2

[0.55867166,
 0.06210792,
 0.08147297,
 0.82579068,
 0.91512478,
 0.06833034,
 0.05440634,
 0.65857693,
 0.30296619,
 0.06769833,
 0.96031863,
 0.51293743,
 0.09143215,
 0.71893382,
 0.45850679,
 0.58256464,
 0.59005654,
 0.56266457,
 0.71600294,
 0.87392666,
 0.11434044,
 0.8694668,
 0.65669313,
 0.10708681,
 0.07529684,
 0.46470767,
 0.47984544,
 0.65368638,
 0.14901286,
 0.23760688]

5. Add a condition to the list comprehension above so that the last value in each subarray is printed, but only if it is less than or equal to 0.5.

In [5]:
list2=[]
for i in range(len(b)): #Recorre todos los elementos (0,4)
    for j in range(len(b[i])): #(0,1)
        for k in range(len(b[i][j])):#(0,2)
            c=b[i][j][-1]
        print(c)
        if c<=0.5:
            list2.append(c)
list2

0.08147297
0.06833034
0.30296619
0.51293743
0.45850679
0.56266457
0.11434044
0.10708681
0.47984544
0.23760688

[0.08147297,
 0.06833034,
 0.30296619,
 0.45850679,
 0.11434044,
 0.10708681,
 0.47984544,
 0.23760688]

6. Use a list comprehension to select and print the names of all CSV files in the /data directory

In [2]:
#Extraer los nombres de archivos en una carpeta
import os
os.getcwd()
os.chdir('C:\\Users\\karen\\Downloads')

In [86]:
import re
from os import listdir,scandir
#Definimos una función que enliste los archivos de la ruta
def ls2(path): 
    return [obj.name for obj in scandir(path) if obj.is_file()]
names=ls2('C:\\Users\\karen\\Downloads')
names

['192251_136963789779396_1391458168_o.jpg',
 'Anaconda3-2019.10-Windows-x86_64.exe',
 'bi.ppk',
 'desktop.ini',
 'FileZilla_3.47.0_win64_sponsored-setup.exe',
 'FileZilla_3.47.1_win64-setup.exe',
 'firmamujeres.png',
 'FlotaSD.csv',
 'Git-2.25.0-64-bit.exe',
 'GitHubDesktopSetup.exe',
 'JAFRA_OP_febrero_2020.pdf',
 'lienzo-tela-noche-estrellada-sobre-rodano-van-gogh-150x195-D_NQ_NP_625021-MLM20678543623_042016-F.webp',
 'mysql-installer-community-8.0.19.0.msi',
 'node-v12.16.1-x64.msi',
 'putty-64bit-0.73-installer.msi',
 'pycharm-community-2019.3.2.exe',
 'python-3.8.1-amd64.exe',
 'quiniela-oscars-2020.pdf',
 'Reporte de servicio social 1.pdf',
 'SevInt.csv',
 'SlackSetup.exe',
 'sp99450.exe',
 'TeamViewer_Setup.exe',
 'The-Look-Enero-2020_V-1.pdf',
 'Untitled.ipynb',
 'VSCodeUserSetup-x64-1.41.1.exe']

In [62]:
#Escribir función que extraiga los nombres que contengan la extensión .exe
pattern='\S+csv$' #Palabras que terminen con extension que queremos y que antes de eso tengan màs de un caracter que no sea espacio en blanco

In [87]:
#Para cada nombre en la lista de nombres de archivos "names" vamos a buscar el patrón ya definido
#Si encuentra el patrón en el nombre del archivo, imprimir el nombre
list_names=[]
for name in names:
    if re.findall(pattern,name):
        list_names.append(name)
print(list_names)

['FlotaSD.csv', 'SevInt.csv']

7. Use a list comprehension and the Pandas read_csv and concat methods to read all CSV files in the /data directory and combine them into a single data frame. Display the top 10 rows of the resulting data frame.

In [135]:
#leemos los archivos enlistados anteriormente
for i in list_names:
    a=pd.DataFrame(pd.read_csv(i))
    b=pd.concat([a])
print(b)

    MES  DIA   AÑO TIPO_DE_ORDEN  ID_SERVICIO  VALOR  \
0     5   28  2020           EXP      1974564  371.0
1     5   28  2020           EXP      1975338   66.5
2     5   28  2020           EXP      1976898  156.0
3     5   28  2020           EXP      1974348  453.0
4     5   28  2020           EXP      1972838  105.0
..  ...  ...   ...           ...          ...    ...
70    6    5  2020           EXP      2014141   37.0
71    6    5  2020           EXP      2014143   37.0
72    6    5  2020           EXP      2014193   93.5
73    6    6  2020           EXP      2016981  147.0
74    6    6  2020           EXP      2015972  225.0

                          EMAIL  CLIENTE
0       francisco.solis@ivoy.mx     2155
1        jade.gutierrez@ivoy.mx     2155
2          marco.ortega@ivoy.mx     2155
3            jorge.cano@ivoy.mx     2155
4         daniel.santos@ivoy.mx     2155
..                          ...      ...
70  cecilia.castellanos@ivoy.mx     2155
71  cecilia.castellanos@ivoy.mx     2155
72      andres.zaragoza@ivoy.mx     2155
73      andres.zaragoza@ivoy.mx     2155
74     brandon.martinez@ivoy.mx     2155

[75 rows x 8 columns]

In [106]:
#convertimos en dataframe los csv
df1=pd.read_csv('SevInt.csv')
df1

,MES,DIA,AÑO,TIPO_DE_ORDEN,ID_SERVICIO,VALOR,EMAIL,CLIENTE
0,5,28,2020,EXP,1974564,371.0,francisco.solis@ivoy.mx,2155
1,5,28,2020,EXP,1975338,66.5,jade.gutierrez@ivoy.mx,2155
2,5,28,2020,EXP,1976898,156.0,marco.ortega@ivoy.mx,2155
3,5,28,2020,EXP,1974348,453.0,jorge.cano@ivoy.mx,2155
4,5,28,2020,EXP,1972838,105.0,daniel.santos@ivoy.mx,2155
...,...,...,...,...,...,...,...,...
70,6,5,2020,EXP,2014141,37.0,cecilia.castellanos@ivoy.mx,2155
71,6,5,2020,EXP,2014143,37.0,cecilia.castellanos@ivoy.mx,2155
72,6,5,2020,EXP,2014193,93.5,andres.zaragoza@ivoy.mx,2155
73,6,6,2020,EXP,2016981,147.0,andres.zaragoza@ivoy.mx,2155
74,6,6,2020,EXP,2015972,225.0,brandon.martinez@ivoy.mx,2155